.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 324px 324px;
    grid-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    grid-template-columns: 245px 245px 245px 245px;
    grid-column-gap: 80px;
    grid-row-gap: 63px;
  }
}
