.example {
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 56px;
    background-color: transparent;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      width: 100%;
      min-height: 462px;
      position: absolute;
      bottom: 0;
      background-color: #eaeaea;
      z-index: -1;
    }
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    width: 1200px;
    margin: 0  auto;
    justify-content: space-between;
  }
}

.example__content-wrapper {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-top: 43px;
    width: 436px;
  }
}

.example__title {
  padding-bottom: 40px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 63px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 146px;
  }
}

.example__description {
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-right: 30px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-bottom: 69px;
  }
}

.example__list {
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 366px;
    margin-right: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 35px;
  }
}

.example__item {
  position: relative;
  width: 124px;
  min-height: 70px;

  @media (min-width: $tablet-width) {
    width: 162px;
    min-height: 72px - 15px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__value {
  display: block;
  padding-top: 13px;
  width: 122px;
  min-height: 54px - 13px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  border: $special-grey solid 1px;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    width: 162px;
    min-height: 72px - 15px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__label {
  display: block;
  margin-top: -13px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;
  padding-left: 15px;
  padding-right: 15px;
  width: 87px - 15px - 15px;
  min-height: 31px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    margin-top: -16px;
    padding: 8px;
    width: max-content;
    min-height: 20px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }
}

.example__outlay-wrapper {
  width: max-content;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    padding-top: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: auto;
    padding-top: 0;
    width: 327px;
    display: flex;
    justify-content: space-between;
  }
}

.example__outlay {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 20px;
    text-align: right;
  }
}
