.main-header {
  width: 280px;
  padding-top: 10px;
  padding-bottom: 12px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding-top: 53px;
    padding-bottom: 29px;
    z-index: 1;
  }
}

.main-header__logo {
  width: 191px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 174px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

@media (min-width: $tablet-width) {
  .main-header__logo-title {
    display: none;
  }
}
