//Размеры экрана

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-max: 767px;
$tablet-max: 1439px;

//Цвета

$basic-grey: #f2f2f2;
$special-grey-light: #ebebeb;
$special-grey: #cdcdcd;
$special-grey-medium: #666666;
$special-grey-dark: #444444;
$special-grey-dark-2: #222222;
$basic-green: #68b738;
$basic-green-medium: #5eaa2f;
